.grid-container {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%; 
	padding: 10px;
	margin-right: 10px;
	/* border:solid; */
    /* position: absolute; */
}

.grid-item {
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: transform 0.5s;
	cursor:pointer;
	/* border: solid black; */
}

.grid-item:hover {
	transform: scale(1.05);
}